<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>

	<header>	
		<h1 th:text="${title}"></h1>
		<h1 th:text="${completeMsg}"></h1>
	</header>
	
	<!-- タスク追加ボタンーー-->
	<div>
		<form method="post" th:action="@{/task/regist}"th:object="${taskRequest}"><!-- taskRequestオブジェクトへ格納してJava側へ渡すーー-->
			<label>Task追加</label>
			<input type="text" name="taskName" th:value="*{taskName}"><!--テキスト部分 taskRequestオブジェクトのtaskNameフィールドに格納してJavaへ渡すーー-->
			<input type="submit" value="登録"><!-- 追加ボダンーー-->
		</form>
	</div>
	<!-- タスク追加ボタン終ーー-->	
	
	<!-- taskaListーー-->
	<table border="1">				
		<!-- 繰り返すオブジェクト -->
		<tr><td>Task名</td><td>日付</td><td>時間</td><td>場所</td></tr>
		<th:block th:each="list : ${taskList}" th:object="${list}"><!-- ${taskList}がJavaから受け取る変数名、th:each="変数名,ステータス変数名 : 繰り返す要素 ーー-->
			<!-- taskのデータ一つずつ -->
			<tr>
				<td><input type="checkbox" id="complete" name="completeFlag" th:checked="*{completeFlag}" checked></td>
				<td th:text="*{taskName}"></td>	
				<td th:text="${#dates.format(list.taskDate,'yyyy-MM-dd')}"></td>
				<td class="data"th:text="${#dates.format(list.taskTime,'hh:mm')}"></td><!-- ユーティリティメソッド、"${#dates.format(値,'hh:mm')}"> -->
        		<td class="data" th:text="*{taskPlace}"></td>
				<td>
					<!-- 詳細ボタン -->
					<form method="get" th:action="@{/task/detail}">
						<input type="hidden" name="taskId" th:value="*{taskId}"><!--idをformに持たせておく、javaのほうで条件絞り込みに必要 -->
						<input type="submit" value ="詳細"><!--valueとclassはAwsome -->
					</form> 
					<!-- 削除ボタン -->
					<form method="post" th:action="@{/task/delete}">
						<input type="hidden" name="taskId" th:value="*{taskId}">
						<input type="submit" value="削除">
					</form>
					<!-- 完了 -->				
					<form method="post" th:action="@{/task/complete}">
						<input type="hidden" name="taskId" th:value="*{taskId}">
						<input type="submit" value="完了">
					</form>
				</td>
			</tr><!-- 行終 -->

		</th:block><!--繰り返すオブジェクト終ーー-->
	</table><!-- taskList終ーー-->
	

</body>
</html>