<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<header>	
		<h1 th:text="${title}"></h1>
		<h1 th:text="${completeMsg}"></h1>
		
	</header>
	
	<!-- タスク追加ボタンーー-->
	<div>
		<form method="post" th:action="@{/task/regist}"th:object="${taskRequest}"><!-- taskRequestオブジェクトへ格納してJava側へ渡すーー-->
			<label>Task追加</label>
			<input type="text" name="task_name" th:value="*{task_name}"><!--テキスト部分 taskFromオブジェクトのtodo_titleフィールドに格納してJavaへ渡すーー-->
			<input type="submit" value="登録"><!-- 追加ボダンーー-->
			<!--バリデーション  <div th:if="${#fields.hasErrors('task_name')}"th:errors="*{task_name}" style="color: gray"></div>--><!-- 未入力だったら再入力を促すーー-->
		</form>
	</div>
	<!-- タイトル追加ボタン終ーー-->	

</body>
</html>