<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>

	<header>	
		<h1 th:text="${title}"></h1>
		<h1 th:text="${completeMsg}"></h1>
	</header>
	
	<!-- タスク追加ボタンーー-->
	<div>
		<form method="post" th:action="@{/task/regist}"th:object="${taskRequest}"><!-- taskRequestオブジェクトへ格納してJava側へ渡すーー-->
			<label>Task追加</label>
			<input type="text" name="taskName" th:value="*{taskName}"><!--テキスト部分 taskRequestオブジェクトのtaskNameフィールドに格納してJavaへ渡すーー-->
			<input type="submit" value="登録"><!-- 追加ボダンーー-->
			<!--バリデーション  <div th:if="${#fields.hasErrors('taskName')}"th:errors="*{taskName}" style="color: gray"></div>--><!-- 未入力だったら再入力を促すーー-->
		</form>
	</div>
	<!-- タスク追加ボタン終ーー-->	
	
	<!-- taskaListーー-->
	<table class="table">				
		<!-- 繰り返すオブジェクト -->
		<th:block th:each="list : ${taskList}" th:object="${list}"><!-- ${taskList}がJavaから受け取る変数名、th:each="変数名,ステータス変数名 : 繰り返す要素 ーー-->
			<!-- taskのデータ一つずつ -->
			<tr>
				<td th:text="*{taskName}"></td>
				
				<td th:text="*{taskId}"></td>
				<td>
					<!-- 詳細ボタン -->
					<form method="get" th:action="@{/task/detail}">
						<input type="hidden" name="{taskId}" th:value="*{taskId}"><!--idをformに持たせておく、javaのほうで条件絞り込みに必要 -->
						<input type="submit" value ="詳細"><!--valueとclassはAwsome -->
					</form> 
				</td>
			</tr><!-- 行終 -->

		</th:block><!--繰り返すオブジェクト終ーー-->
	</table><!-- taskList終ーー-->
	

</body>
</html>